body {
    color: black;
}
img {
    max-width: 100%;
    min-width: 100px;
    max-height: 100%;
    min-height: 100px;
}
button {
    width: fit-content;
    font-size: small;
}
input {
    width: 5rem;
}
.btn {
    margin: 0.3rem;
    border: none;
    padding: 0.1rem;
    background-color: aqua;
    outline: auto;
    height: 1.7rem;
    width: 8rem;
    margin-top: 0%;
    margin-bottom: 0%;
}
a {
    text-decoration: none;
}
.twitter {
    margin-left: 0.7rem;
    margin-right: 0.5rem;
    margin-top: 0%;
    margin-bottom: 0%;
    color: aquamarine;
}
.show {
    display: flex;
    margin: 0% 7%;
}
.show1 {
    display: flex;
    justify-content: flex-start;
}
.nav {
    display: flex; 
    justify-content: space-between;
}

.search {
    margin-top: 1rem;
}

.col1 {
    background-color: white;
}

.list {
    background-color: #CDDEFF;
}

.news {
    display: flex;
    justify-content: flex-start;
    padding: 0rem 1.2rem;
}

.title {
    font-weight: 100px;
    margin: 0rem 1.2rem;
    padding: 1rem 0rem;
    margin-top: 0%;
}
.title1 {
    margin: 0rem 1.2rem;
    color: #085F63;
}

.author {
    color: #676FA3;
    margin-left: 0.7rem;
    margin-right: 0.5rem;
    margin-top: 0%;
    margin-bottom: 0.3%;
}
.time {
    margin-left: 0.7rem;
    margin-right: 0.5rem;
    color: #085F63;
    margin-top: 0%;
    margin-bottom: 0.3%;
}

/* /// Portal */
.portalBG {
    position: fixed;
    inset: 0;
    background-color: gray;
    opacity: 0.5;
}

.parent {
    display: flex;
    justify-content: flex-end;
}

.portal {
    position: fixed;
    inset: 0;
    background-color: #F5E1DA;
    /* color: red; */
    opacity: 1;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 4%;
    width: 70%;
    height: fit-content;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    position: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}

.action {
    display: flex;
    justify-content: flex-end;
}
.content {
    margin-right: 7%;
    margin-left: 7%;
    color: black;
}
.content1 {
    margin-left: 0.9rem;
    margin-top: 0%;
    color: #49BEB7;
}

/* @media only screen and (max-width: 768px) {
    .content {
      font-size: 20px;
    }
  } */
  
@media only screen and (max-width: 380px) {
    .content {
      font-size: 12px;
    }
    .title1 {
        font-size: 15px;
    }
    .time {
        font-size: 10px;
    }
    .author {
        font-size: 10px;
    }
  }